
body {
    margin: auto;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}

/* Start på navigation bar */

header {
<<<<<<< HEAD
    float: left;
=======






>>>>>>> origin/master
    width: 100%;
    height: 69px;
    border-bottom: 2px solid #94BB1E;
    margin-bottom: 40px;
    background: url('bg_top1.jpg') 0 0 repeat-x;


}

<<<<<<< HEAD
img#logo {
    margin: 23px -150px 10px 50px;
=======
#logo {
    margin-left: 50px;

}


#sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.section {
    flex-grow: 1;
    flex-basis: 200px;

}
<<<<<<< HEAD


#byggeri_sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#byggeri_sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}


.byggeri_section {
    flex-grow: 1;
    flex-basis: 200px;

}

#byggeri_section a:hover {
    font-weight: bold;
    color: rgb(148, 187, 30);
    text-decoration: none;
}

#byggeri_section a {
    text-decoration: none;
    font-size: 1em;
    padding: 6px;
    color: #666;
    align-self: center;
}

.section a:hover {
    transform: scale(1.5);

}

.section img {
    max-width: 100%;
    transition: all 0.3s;
}



>>>>>>> origin/master
}



nav {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;


}

nav a {

    text-decoration: none;
    font-size: 1.4em;
    padding: 6px;
    color: #666;
    align-self: center;

}

nav a:hover {
    font-size: 200%;
}

#searchbox {
    float: right;
    margin: 34.5px 50px 0 0;

}


#searchfield {
    width: 150px;
    margin-right: 6px;
    padding: 1px 2px;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    background: #F2F2F2;
    border: 1px solid #B1B1B1;

}

#searchsubmit {
    padding: 0 5px;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    width: auto;
    overflow: visible;
}

/* Navigations bar slut */

h1 {
    font-size: 1.6em;
    color: #666;
    text-align: center;


}

/* De øverste billeder */

/*
#main {
    display: flex;
    flex-wrap: wrap;
}
*/

#top {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;

}

#top2 {
    display: flex;
    flex-wrap: wrap;
}

#top #case1 {
    position: relative;
    text-align: center;
    color: white;
    border-right: 15px solid #fff;
    width: 232px;


}


#top #case2 {
    border-right: 15px solid #fff;
    width: 232px;
    position: relative;
    text-align: center;
    color: white;
    flex-basis: 200px;

}

#top #case3 {
    border-right: 15px solid #fff;
    width: 232px;
    position: relative;
    text-align: center;
    color: white;
    flex-basis: 200px;

}

#top h2 {

    padding: 0;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    color: black;


}

#top a {
    text-decoration: none;
}

#top #case1 .image {
    position: relative;
    width: 100%;
}

#top #case1 h2 {
    position: absolute;
    top: 143px;
    left: 0;
    width: 232px;
    background: rgb(95, 102, 111);
    background: rgba(95, 102, 111, 0.9);
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff;

}

#top #case2 .image {
    position: relative;
    width: 100%;
}

#top #case2 h2 {
    position: absolute;
    top: 143px;
    left: 0;
    width: 232px;
    background: rgb(148, 187, 30);
    background: rgba(148, 187, 30, 0.9);
    padding-bottom: 20px;
    padding-top: 20px;
    color: #fff;

}

#top #case3 .image {
    position: relative;
    width: 100%;
}

#top #case3 h2 {
    position: absolute;
    top: 143px;
    left: 0;
    width: 232px;
    background: rgb(95, 102, 111);
    background: rgba(95, 102, 111, 0.9);
    padding-bottom: 20px;
    padding-top: 20px;
    color: #fff;

}

/* Øverste billeder slutter */

/* Nedeste billeder starter */

#bottom {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

#bottom2 {
    display: flex;
    flex-wrap: wrap;
}

#bottom #case1 {
    position: relative;
    text-align: center;
    color: white;
    border-right: 15px solid #fff;


}


#bottom #case2 {
    border-right: 15px solid #fff;
    width: 232px;
    position: relative;
    text-align: center;
    color: white;

}

#bottom #case3 {
    border-right: 15px solid #fff;
    width: 232px;
    position: relative;
    text-align: center;
    color: white;
}

#bottom h2 {

    padding: 0;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    color: black;


}

#bottom a {
    text-decoration: none;
}

#bottom #case1 .image {
    position: relative;
    width: 100%;
}

#bottom #case1 h2 {
    position: absolute;
    top: 143px;
    left: 0;
    width: 232px;
    background: rgb(95, 102, 111);
    background: rgba(95, 102, 111, 0.9);
    padding-bottom: 28px;
    padding-top: 10px;
    color: #fff;

}

#bottom #case2 .image {
    position: relative;
    width: 100%;
}

#bottom #case2 h2 {
    position: absolute;
    top: 143px;
    left: 0;
    width: 232px;
    background: rgb(148, 187, 30);
    background: rgba(148, 187, 30, 0.9);
    padding-bottom: 28px;
    padding-top: 29px;
    color: #fff;

}

#bottom #case3 .image {
    position: relative;
    width: 100%;
}

#bottom #case3 h2 {
    position: absolute;
    top: 143px;
    left: 0;
    width: 232px;
    background: rgb(95, 102, 111);
    background: rgba(95, 102, 111, 0.9);
    padding-bottom: 19px;
    padding-top: 20px;
    color: #fff;

}

/* Nederste billeder slutter */

<<<<<<< HEAD
=======
/* footer starter */

.footermenu {
    display: flex;
    flex-wrap: wrap;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    border-top: 2px solid #94BB1E;
    color: #999;
    margin-left: 20px;
}


/* Footer slutter */

>>>>>>> origin/master
@media only screen and (max-width: 390px) {
    img#logo {
        display: none;
    }
    #searchbox {
        display: none;
    }

    nav a {
        font-size: 0.8em;
    }
    nav a:hover {
        font-size: 100%;
    }
<<<<<<< HEAD
}
=======

    #footer {
        position: relative;
    }

    #footer p {
        font-size: 5px;
    }

    #byggeri {
        display: none;
    }
}

/*img#logo {
    display: none;
}

#searchbox {
    display: none;
}*/

/*
nav a {
    font-size: 0.8em;
}
*/

nav a:hover {
    font-size: 100%;
}

footer {
    position: relative;
}

footer p {
    font-size: 5px;

}


.projekts_sectionwrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


projekts_section {
	flex-grow: 1;
	flex-basis: 200px;

}
.byggeri_sectionwrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

}


.byggeri_section {
	flex-grow: 1;
	flex-basis: 200px;
	padding: 35px;
}

.byggeri_section img{
	width: 100%;
}
.byggeri_section a:hover{
	  font-weight: bold;
   color:rgb(148, 187, 30);
    text-decoration: none;
}
.byggeri_section a{
	   text-decoration: none;
	font-size: 1.5em;
	padding: 2px;
	color: #666;
	align-self: center;
}


.section a:hover{
	 transform: scale(1.5);
}
.section img{
	max-width: 100%;
	transition: all 0.3s;
}
.link_kasse{
	display: flex;
	flex-wrap: wrap;
	align-content: center;

}
.links{
	flex-grow: 1;
	flex-basis: 300px;
	align-self: center;
}

}
.byggeri_section img{
	width: 100%;
}
.byggeri_section p{
	font-size: 1.2em;
}

=======
}

>>>>>>> origin/master
#byggeri {
    display: none;
}

<<<<<<< HEAD



=======
}

/*>>>>>>> origin/master*/

/*kompetencer*/
>>>>>>> origin/master

#kompetencer #sectionwrapper_komp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#column_komp #column_komp {
    flex-grow: 1;
    flex-basis: 300px;
}

<<<<<<< HEAD

=======
/*kompetencer slutter*/
<<<<<<< HEAD


=======
>>>>>>> origin/master
>>>>>>> origin/master
>>>>>>> origin/master
