body {
    margin: auto;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}

/* Start på navigation bar */

header {
    float: left;
    width: 100%;
    height: 69px;
    border-bottom: 2px solid #94BB1E;
    margin-bottom: 12px;
    background: url('bg_top1.jpg') 0 0 repeat-x;

}

img#logo {
    margin: 23px -150px 10px 50px;
}


nav {
    position: fixed;
    top: 25px;
    ;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;


}

nav a {

    text-decoration: none;
    font-size: 1.4em;
    padding: 6px;
    color: #666;
    align-self: center;

}

nav a:hover {
    font-size: 200%;
}

#searchbox {
    float: right;
    margin: 34.5px 50px 0 0;

}


#searchfield {
    width: 150px;
    margin-right: 6px;
    padding: 1px 2px;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    background: #F2F2F2;
    border: 1px solid #B1B1B1;

}

#searchsubmit {
    padding: 0 5px;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    width: auto;
    overflow: visible;
}

/* Navigations bar slut */

h1 {
    font-size: 1.6em;
    color: #666;
    text-align: center;

}
/* De øverste billeder */
#top {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#case1 {
position: relative;
    text-align: center;
    color: white;
    border-right: 15px solid #fff;


}


#case2 {
    border-right: 15px solid #fff;
    width: 232px;
    position: relative;
    text-align: center;
    color: white;

}

#case3 {
    border-right: 15px solid #fff;
    width: 232px;
    position: relative;
    text-align: center;
    color: white;
}

#top h2 {

    padding: 0;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    color: black;


}

#top a {
    text-decoration: none;
}

#case1 .image {
    position: relative;
    width: 100%;
}

#case1 h2 {
    position: absolute;
    top: 143px;
    left: 0;
    width: 232px;
    background: rgb(95, 102, 111);
    background: rgba(95, 102, 111, 0.9);
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff;

}

#case2 .image {
    position: relative;
    width: 100%;
}

#case2 h2 {
    position: absolute;
    top: 143px;
    left: 0;
    width: 232px;
    background: rgb(148, 187, 30);
    background: rgba(148, 187, 30, 0.9);
    padding-bottom: 20px;
    padding-top: 20px;
    color: #fff;

}

#case3 .image {
    position: relative;
    width: 100%;
}

#case3 h2 {
    position: absolute;
    top: 143px;
    left: 0;
    width: 232px;
    background: rgb(95, 102, 111);
    background: rgba(95, 102, 111, 0.9);
    padding-bottom: 20px;
    padding-top: 20px;
    color: #fff;

}

/* Øverste billeder slutter */
